#table-of-content-nav-link {
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: #000000;
    width: 44px;
    height: 44px;
    z-index: 1000;
    font-size: 1.5em;
}
#table-of-content-nav-link a {
    color: #ffffff !important;
    text-decoration: none;
}

#navigation {
    height: 75px !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    margin-top: -2px;
}
.navLinks {
    padding-top: 15px;
}

.navLinks a:visited,
.navLinks a:active,
.navLinks a:hover,
.navLinks a {
    text-decoration: none !important;
}
.navTitle {
    width: auto;
    background: none;
    padding-right: 5px !important;
    padding-left: 0 !important;
    float: left;
    max-width: 200px;
}
.navTitle img {width: 100%;}
@media screen and (min-width: 375px) {
    .navTitle {
        max-width: available;
    }
}

.wiki-table th, #navigation {
    background: #000000 !important;
}

#navigation a {
    color: #FFFFFF !important;
    text-shadow: none !important;
}
#navigation .selected a {
    background: transparent !important;
}
#navigation a:hover {
    color: #FFFFFF !important;
    background: transparent !important;
}

#navigation .navTitle a:hover {
    background: #000000 !important;
}

#nav-summary #nav-summary-childs a:hover {
    color: #FFFFFF !important;
}

#navigation .selected a:hover,
#navigation .active .button {
    background: #FFFFFF !important;
    color: #000000 !important;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
#table-of-content a:hover strong,
#table-of-content a strong,
.menu a:hover,
.local .local-title .toggle a {
    color: #255AA8 !important;
}

#table-of-content a:hover {
    border-right: 2px solid #255AA8 !important;
}
#table-of-content a.toc-item-highlighted {
    font-weight: bold;
    color: #000000 !important;
    border-right: 5px solid #000000 !important;
}

#table-of-content a.toc-item-highlighted strong {
    color: #000000 !important;
}


.menu .menu-block h1,
#main .project strong,
#main h1,
#main h2 {
    font-weight: bold !important;
    color: #000000 !important;
}
.navTitle {
    background-image: none !important;
}
.navTitle #logo img {
    margin: 8px 0;
    height: 50px !important;
}

#navigation #nav-summary-childs {
    background: #000000 !important;
    margin-top: 75px;
}

#navigation #nav-summary-childs a:hover {
    text-decoration: underline;
}
.mobile {
    display: block;
}
.desktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

#main {
    margin: 0 !important;
}

#main a {
    text-decoration: none;
}
#main a:hover {
    text-decoration: underline;
}

#main .paragraph a {
    text-decoration: underline;
}
#main {
    margin-left: 0 !important;
    padding-left: 0;
    padding-top: 0 !important;
}

.docs-content {
    padding-left: 25px;
    padding-right: 25px;
}

.docs-content h1,
.docs-content h2,
.docs-content h3 {
    text-align: left !important;
}

#table-of-content {
    margin-top: 95px;
}

.toc-content {
    padding: 20px 5px 50px;
}


@media only screen and (min-width: 768px) {
    .project {
        margin-top: 75px;
    }
    body#docs #main {
        padding-left: 25em;
        margin-left: 0;
        margin-right: 0;
    }

    #table-of-content {
        margin-top: 0;
        background-color: #f8f8f7;
        position: fixed;
        width: 25em;
        left: 0;
        top: 0;
        border-right: 1px solid #efefed;
        border-top-width: 0!important;
        border-bottom-width: 0!important;
        z-index: 998;
        padding: 0.1em;
        height: 100%;
        overflow: scroll;
        text-align: left;
    }
    #table-of-content h2 {
        margin: 0 5px;
    }
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -95px;
    height: 95px;
    visibility: hidden;
}

@media print  {
    .contribute-btn, .no-print, .no-print * {
        display: none !important;
    }
}

.copytoclipboard {
    cursor: pointer;
    background-color: lightgray;
    color: #000000;
    float: right;
    padding: 10px 15px;
    font-size: 10px;
    margin-right: 20px;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}