[versions]
asm = "9.4"
awaitility = "4.2.0"
bcpkix = "1.70"
blaze = "1.6.7"
caffeine = "2.9.3"
compile-testing = "0.19"

geb = "3.4.1"
geb-groovy = "3.0.13"
geb-micronaut-test = "3.7.0"
geb-spock = "2.2-groovy-3.0"
gorm = "7.3.2"
# be sure to update graal version in gradle.properties as well
# Intentionally pin to 22.0.0.2 see https://github.com/micronaut-projects/micronaut-kafka/pull/564 and https://github.com/micronaut-projects/micronaut-core/pull/7663
graal-svm = "22.0.0.2"
h2 = "2.1.210"
hibernate = "5.5.9.Final"
hibernate-validator = "6.1.6.Final"
htmlSanityCheck = "1.1.6"
htmlunit = "2.64.0"
httpcomponents-client = "4.5.13"
jakarta-inject-api = "2.0.1"
jakarta-inject-tck = "2.0.1"
javax-annotation-api = "1.3.2"
javax-inject = "1"
javax-persistence = "2.2"
jetbrains-annotations = "23.0.0"
jetty = "9.4.48.v20220622"
jmh = "1.35"
jsr107 = "1.1.1"
jsr305 = "3.0.2"
javax-el = "3.0.1-b12"
javax-el-impl = "2.2.1-b05"
jcache = "1.1.1"
junit5 = "5.9.1"
kotlin = "1.7.20"
kotlin-coroutines = "1.6.4"
ktor = "1.6.8"
managed-logback = "1.4.5"
logbook-netty = "2.14.0"
log4j = "2.19.0"
micronaut-aws = "3.9.2"
micronaut-groovy = "4.0.0-SNAPSHOT"
micronaut-session = "1.0.0-SNAPSHOT"
micronaut-sql = "4.7.2"
micronaut-test = "4.0.0-SNAPSHOT"
micronaut-serde = "2.0.0-SNAPSHOT"
micronaut-tracing = "4.4.0"
micrometer = "1.9.5"
neo4j-java-driver = "1.4.5"
selenium = "3.141.59"
smallrye = "5.5.0"
spock = "2.2-groovy-4.0"
spotbugs = "4.7.1"
systemlambda = "1.2.1"
testcontainers = "1.17.5"
vertx = "3.9.13"
wiremock = "2.33.2"

#
# Versions which start with managed- are managed by Micronaut in the sense
# that they will appear in the Micronaut BOM as <properties>
#
managed-groovy = "4.0.6"
managed-jakarta-annotation-api = "2.1.1"
managed-jackson = "2.14.0"
managed-jackson-databind = "2.14.0"
managed-maven-native-plugin = "0.9.13"
managed-methvin-directory-watcher = "0.16.1"
managed-netty = "4.1.84.Final"
managed-reactive-streams = "1.0.4"
# This should be kept aligned with https://github.com/micronaut-projects/micronaut-reactor/blob/master/gradle.properties from the BOM
managed-reactor = "3.4.24"
managed-slf4j = "2.0.4"
managed-snakeyaml = "1.33"
managed-validation = "2.0.1.Final"
managed-java-parser-core = "3.24.7"
micronaut-docs = "2.0.0"

[libraries]
# Libraries prefixed with bom- are BOM files
test-boms-micronaut-aws = { module = "io.micronaut.aws:micronaut-aws-bom", version.ref = "micronaut-aws" }
test-boms-micronaut-sql = { module = "io.micronaut.sql:micronaut-sql-bom", version.ref = "micronaut-sql" }
test-boms-micronaut-tracing = { module = "io.micronaut.tracing:micronaut-tracing-bom", version.ref = "micronaut-tracing" }

boms-groovy = { module = "org.apache.groovy:groovy-bom", version.ref = "managed-groovy" }
boms-netty = { module = "io.netty:netty-bom", version.ref = "managed-netty" }
boms-jackson = { module = "com.fasterxml.jackson:jackson-bom", version.ref = "managed-jackson" }

#
# Libraries which start with managed- are managed by Micronaut in the sense
# that they will appear in the Micronaut BOM
#

managed-groovy = { module = "org.apache.groovy:groovy", version.ref = "managed-groovy" }
managed-groovy-json = { module = "org.apache.groovy:groovy-json", version.ref = "managed-groovy" }
managed-groovy-sql = { module = "org.apache.groovy:groovy-sql", version.ref = "managed-groovy" }
managed-groovy-templates = { module = "org.apache.groovy:groovy-templates", version.ref = "managed-groovy" }

managed-jakarta-annotation-api = { module = "jakarta.annotation:jakarta.annotation-api", version.ref = "managed-jakarta-annotation-api" }

managed-jackson-annotations = { module = "com.fasterxml.jackson.core:jackson-annotations", version.ref = "managed-jackson" }
managed-jackson-core = { module = "com.fasterxml.jackson.core:jackson-core", version.ref = "managed-jackson" }
managed-jackson-databind = { module = "com.fasterxml.jackson.core:jackson-databind", version.ref = "managed-jackson-databind" }
managed-jackson-datatype-jdk8 = { module = "com.fasterxml.jackson.datatype:jackson-datatype-jdk8", version.ref = "managed-jackson" }
managed-jackson-datatype-jsr310 = { module = "com.fasterxml.jackson.datatype:jackson-datatype-jsr310", version.ref = "managed-jackson" }
managed-jackson-module-afterburner = { module = "com.fasterxml.jackson.module:jackson-module-afterburner", version.ref = "managed-jackson" }
managed-jackson-module-kotlin = { module = "com.fasterxml.jackson.module:jackson-module-kotlin", version.ref = "managed-jackson" }
managed-jackson-module-parameterNames = { module = "com.fasterxml.jackson.module:jackson-module-parameter-names", version.ref = "managed-jackson" }
managed-java-parser-core = { module = "com.github.javaparser:javaparser-symbol-solver-core", version.ref = "managed-java-parser-core" }

managed-methvin-directoryWatcher = { module = "io.methvin:directory-watcher", version.ref = "managed-methvin-directory-watcher" }

managed-netty-buffer = { module = "io.netty:netty-buffer", version.ref = "managed-netty" }
managed-netty-codec-http = { module = "io.netty:netty-codec-http", version.ref = "managed-netty" }
managed-netty-codec-http2 = { module = "io.netty:netty-codec-http2", version.ref = "managed-netty" }
managed-netty-handler = { module = "io.netty:netty-handler", version.ref = "managed-netty" }
managed-netty-handler-proxy = { module = "io.netty:netty-handler-proxy", version.ref = "managed-netty" }
managed-netty-transport-native-epoll = { module = "io.netty:netty-transport-native-epoll", version.ref = "managed-netty" }
managed-netty-transport-native-kqueue = { module = "io.netty:netty-transport-native-kqueue", version.ref = "managed-netty" }
managed-netty-transport-native-unix-common = { module = "io.netty:netty-transport-native-unix-common", version.ref = "managed-netty" }

managed-reactive-streams = { module = "org.reactivestreams:reactive-streams", version.ref = "managed-reactive-streams" }

managed-reactor = { module = "io.projectreactor:reactor-core", version.ref = "managed-reactor" }
managed-reactor-test = { module = "io.projectreactor:reactor-test", version.ref = "managed-reactor" }

managed-slf4j-api = { module = "org.slf4j:slf4j-api", version.ref = "managed-slf4j" }
managed-slf4j-simple = { module = "org.slf4j:slf4j-simple", version.ref = "managed-slf4j" }
managed-logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "managed-logback" }

managed-snakeyaml = { module = "org.yaml:snakeyaml", version.ref = "managed-snakeyaml" }

managed-validation = { module = "javax.validation:validation-api", version.ref = "managed-validation" }

#
# Other libraries are used by Micronaut but will not appear in the BOM
#
asm = { module = "org.ow2.asm:asm", version.ref = "asm" }
asm-commons = { module = "org.ow2.asm:asm-commons", version.ref = "asm" }
asm-tree = { module = "org.ow2.asm:asm-tree", version.ref = "asm" }

awaitility = { module = "org.awaitility:awaitility", version.ref = "awaitility" }

aws-java-sdk-lambda = { module = "com.amazonaws:aws-java-sdk-lambda" }

bcpkix = { module = "org.bouncycastle:bcpkix-jdk15on", version.ref = "bcpkix" }

blaze-persistence-core = { module = "com.blazebit:blaze-persistence-core-impl", version.ref = "blaze" }

caffeine = { module = "com.github.ben-manes.caffeine:caffeine", version.ref = "caffeine" }

compile-testing = { module = "com.google.testing.compile:compile-testing", version.ref = "compile-testing" }

geb-spock = { module = "org.gebish:geb-spock", version.ref = "geb" }
spock-for-geb = { module = "org.spockframework:spock-core", version.ref = "geb-spock" }
geb-groovy-test = { module = "org.codehaus.groovy:groovy-test", version.ref = "geb-groovy" }
gorm = { module = "org.grails:grails-datastore-core", version.ref = "gorm" }
graal = { module = "org.graalvm.nativeimage:svm", version.ref = "graal-svm" }
groovy-test-junit5 = { module = "org.apache.groovy:groovy-test-junit5", version.ref = "managed-groovy" }

h2 = { module = "com.h2database:h2", version.ref = "h2" }
hibernate = { module = "org.hibernate:hibernate-core", version.ref = "hibernate" }
hibernate-validator = { module = "org.hibernate:hibernate-validator", version.ref = "hibernate-validator" }

htmlunit = { module = "net.sourceforge.htmlunit:htmlunit", version.ref = "htmlunit" }

jakarta-inject-api = { module = "jakarta.inject:jakarta.inject-api", version.ref = "jakarta-inject-api" }
jakarta-inject-tck = { module = "jakarta.inject:jakarta.inject-tck", version.ref = "jakarta-inject-tck" }

javax-annotation-api = { module = "javax.annotation:javax.annotation-api", version.ref = "javax-annotation-api" }
javax-el = { module = "org.glassfish:javax.el", version.ref = "javax-el" }
javax-el-impl = { module = "org.glassfish:javax.el", version.ref = "javax-el" }
javax-inject = { module = "javax.inject:javax.inject", version.ref = "javax-inject" }
javax-persistence = { module = "javax.persistence:javax.persistence-api", version.ref = "javax-persistence" }

jcache = { module = "javax.cache:cache-api", version.ref = "jcache" }

jetty-alpn-openjdk8-client = { module = "org.eclipse.jetty:jetty-alpn-openjdk8-client", version.ref = "jetty" }

jmh = { module = "org.openjdk.jmh:jmh-core", version.ref = "jmh" }
jmh-generator-annprocess = { module = "org.openjdk.jmh:jmh-core", version.ref = "jmh" }

jsr107 = { module = "org.jsr107.ri:cache-ri-impl", version.ref = "jsr107" }
jsr305 = { module = "com.google.code.findbugs:jsr305", version.ref = "jsr305" }

junit-jupiter-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit5" }
junit-jupiter-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit5" }
junit-vintage = { module = "org.junit.vintage:junit-vintage-engine", version.ref = "junit5" }

jetbrains-annotations = { module = "org.jetbrains:annotations", version.ref = "jetbrains-annotations" }

kotlin-annotation-processing-embeddable = { module = "org.jetbrains.kotlin:kotlin-annotation-processing-embeddable", version.ref = "kotlin" }
kotlin-compiler-embeddable = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-kotest-junit5 = { module = "io.kotest:kotest-runner-junit5-jvm" }
kotlin-reflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-stdlib-jdk8 = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }

kotlinx-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlin-coroutines" }
kotlinx-coroutines-jdk8 = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-jdk8", version.ref = "kotlin-coroutines" }
kotlinx-coroutines-reactive = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-reactive", version.ref = "kotlin-coroutines" }
kotlinx-coroutines-rx2 = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-rx2", version.ref = "kotlin-coroutines" }
kotlinx-coroutines-slf4j = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-slf4j", version.ref = "kotlin-coroutines" }
kotlinx-coroutines-reactor = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-reactor", version.ref = "kotlin-coroutines" }

log4j = { module = "org.apache.logging.log4j:log4j-core", version.ref = "log4j" }

logbook-netty = { module = "org.zalando:logbook-netty", version.ref = "logbook-netty" }

micronaut-docs = { module = "io.micronaut.docs:micronaut-docs-asciidoc-config-props", version.ref = "micronaut-docs" }
micronaut-runtime-groovy = { module = "io.micronaut.groovy:micronaut-runtime-groovy", version.ref = "micronaut-groovy" }
micronaut-serde-jackson = { module = "io.micronaut.serde:micronaut-serde-jackson", version.ref = "micronaut-serde" }
micronaut-session = { module = "io.micronaut.session:micronaut-session", version.ref = "micronaut-session" }
micronaut-test-bom = { module = "io.micronaut.test:micronaut-test-bom", version.ref = "micronaut-test" }
micronaut-test-core = { module = "io.micronaut.test:micronaut-test-core", version.ref = "micronaut-test" }
micronaut-test-junit5 = { module = "io.micronaut.test:micronaut-test-junit5", version.ref = "micronaut-test" }
micronaut-test-kotest = { module = "io.micronaut.test:micronaut-test-kotest", version.ref = "micronaut-test" }
micronaut-test-kotest5 = { module = "io.micronaut.test:micronaut-test-kotest5", version.ref = "micronaut-test" }
micronaut-test-spock = { module = "io.micronaut.test:micronaut-test-spock", version.ref = "micronaut-test" }

micronaut-sql-jdbc = { module = "io.micronaut.sql:micronaut-jdbc", version.ref = "micronaut-sql" }
micronaut-sql-jdbc-tomcat = { module = "io.micronaut.sql:micronaut-jdbc-tomcat", version.ref = "micronaut-sql" }

micrometer-core = { module = "io.micrometer:micrometer-core", version.ref = "micrometer" }

mysql-driver = { module = "mysql:mysql-connector-java" }

neo4j-bolt = { module = "org.neo4j.driver:neo4j-java-driver", version.ref = "neo4j-java-driver" }

netty-tcnative = { module = 'io.netty:netty-tcnative' }
netty-tcnative-boringssl = { module = 'io.netty:netty-tcnative-boringssl-static' }

selenium-remote-driver = { module = "org.seleniumhq.selenium:selenium-remote-driver", version.ref = "selenium" }
selenium-api = { module = "org.seleniumhq.selenium:selenium-api", version.ref = "selenium" }
selenium-support = { module = "org.seleniumhq.selenium:selenium-support", version.ref = "selenium" }
selenium-driver-chrome = { module = "org.seleniumhq.selenium:selenium-chrome-driver", version.ref = "selenium" }
selenium-driver-firefox = { module = "org.seleniumhq.selenium:selenium-firefox-driver", version.ref = "selenium" }
selenium-driver-htmlunit = { module = "org.seleniumhq.selenium:htmlunit-driver", version.ref = "htmlunit" }

smallrye = { module = "io.smallrye:smallrye-fault-tolerance", version.ref = "smallrye" }
spock = { module = "org.spockframework:spock-core", version.ref = "spock" }
spotbugs = { module = "com.github.spotbugs:spotbugs-annotations", version.ref = "spotbugs" }

systemlambda = { module = "com.github.stefanbirkner:system-lambda", version.ref = "systemlambda" }

micronaut-tracing-jaeger = { module = "io.micronaut.tracing:micronaut-tracing-jaeger" }
micronaut-tracing-zipkin = { module = "io.micronaut.tracing:micronaut-tracing-zipkin" }

testcontainers-spock = { module = "org.testcontainers:spock", version.ref = "testcontainers" }

vertx = { module = "io.vertx:vertx-core", version.ref = "vertx" }
vertx-webclient = { module = "io.vertx:vertx-web-client", version.ref = "vertx" }
httpcomponents-client = { module = "org.apache.httpcomponents:httpclient", version.ref = "httpcomponents-client" }
httpcomponents-mime = { module = "org.apache.httpcomponents:httpmime", version.ref = "httpcomponents-client" }

wiremock = { module = "com.github.tomakehurst:wiremock-jre8", version.ref = "wiremock" }

[bundles]
asm = ["asm", "asm-commons"]
