/*
////////////////////////////////////////////////////////////////////////////////
//
//  Color.
//
////////////////////////////////////////////////////////////////////////////////
*/
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
body, .wiki-table th strong {
    color: #444;
}

a, 
a:hover,
a:focus,
a:active,
a:hover,
#main .project strong,
#table-of-content a:hover strong,
#table-of-content a strong,
.menu .menu-block h1,
.menu a:hover,
.local .local-title .toggle a,
#navigation #nav-summary-childs a:hover,
#main h1,
#main h2 {
    color: #feb672;
    font-weight: bold;
}

#main .project h1, #table-of-content h2 {
    color: #444;
}

#footer {
    color: #999;
}

#footer a, .menu a, .local .local-title a, .local .local-title .toggle,
    #navigation #nav-summary-childs a {
    color: #333;
}

.java-keyword, .java-object {
    color: #0911ff;
}

.java-quote {
    color: #268000;
}

#navigation a, #nav-summary #nav-summary-childs a:hover {
    color: white;
}

.toc-item a {
    text-decoration: none;
}

.toc-item a:hover {
    text-decoration: underline;
}

/*
////////////////////////////////////////////////////////////////////////////////
//
//  Background Color.
//
////////////////////////////////////////////////////////////////////////////////
*/

#main {
    background: white;
}

.code, #navigation #nav-summary-childs {
    background: #F2f2F2;
}


#navigation .selected a {
    background: #424649;
}

#navigation a:hover {
    background: #db4800;
}

#navigation .selected a:hover, #navigation .active .button {
    background: #db4800;
}

/*
////////////////////////////////////////////////////////////////////////////////
//
//  Background Image.
//
////////////////////////////////////////////////////////////////////////////////
*/


.menu .menu-item {
    background: url(../img/default/bullet.gif) no-repeat 2px 8px;
}

.local .local-title {
    background: #F2F2F2 url(../img/default/separator-horizontal.gif) repeat-x 0 bottom;
}

.wiki-table th, #navigation {
    background: #424649;
}

#navigation .separator {
    background: url(../img/default/separator-menu.png) no-repeat 0 center;
}

.navTitle {
    color:#fff;
    background: url(../img/grails.svg) no-repeat 0 center;
    background-size: 80px;
    padding-left: 90px;
    width: 180px;
    float: right;
    line-height: 3.1em;
    height: 75px;
    padding-top: 25px;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.contribute-btn {
    bottom: 40px;
    float: right;
    position: relative;
    right: 0;
}

/*
////////////////////////////////////////////////////////////////////////////////
//
//  Border Color.
//
////////////////////////////////////////////////////////////////////////////////
*/

#main {
    border-color: #d3d3d3;
    border-style: solid;
}

#navigation {
    border-style: solid;
    border-color: #7c7c7c;
}

.code {
    border-style: dashed;
    border-color: #333;
}

#navigation #nav-summary-childs {
    border-style: solid;
    border-color: #888;
    border-top-color: #444;
}
