plugins {
   id("java")
}

repositories {
    mavenCentral()
    mavenLocal()
}

dependencies {
%DEPENDENCIES%
}

tasks.register("resolvePyronautDependencies", Sync) {
    from(configurations.runtimeClasspath)
    destinationDir = file("%DESTINATION_DIR%")
}
