name: Java CI

on:
  push:
    branches:
    - master
    - "*.*.x"
  pull_request:
    branches:
    - master
    - "*.*.x"
jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: "8.0.222"
    - name: Gradle check
      run: ./gradlew check --no-daemon -x licenseTest
